{
	auto_https disable_redirects
}

(mcsm) {
	handle /daemon/* {
		reverse_proxy mcnet-mcsm-daemon:24444
	}
	handle {
		reverse_proxy mcnet-mcsm-web:23333
	}
}

:80 {
	import mcsm
}

{$MCSM_HOST:localhost} {
	import mcsm
}
