# 由 entrypoint.sh 通过 envsubst 渲染
server-port=25565
online-mode=false
enforce-secure-profile=false
prevent-proxy-connections=false
network-compression-threshold=-1

motd=${MOTD_SERVER}
difficulty=hard
gamemode=survival
hardcore=false
pvp=true
allow-flight=false
spawn-protection=0
view-distance=10
simulation-distance=8
max-players=40
white-list=true
enforce-whitelist=true

level-name=world
level-type=minecraft\:normal

enable-rcon=true
rcon.port=25575
rcon.password=${RCON_PASSWORD}
broadcast-rcon-to-ops=false
